* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;

}

header {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin: auto;

}
span{
    color: rgb(244, 36, 36);
}
.header_nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    align-items: center;
}

.dropdown {
    
    font-size: 25px;
    padding-left: 65px;
    width: 20%;
    height: 30px;
    display: flex;
    align-items: center;
}

.lang {
    font-size: 20px;
    border: none;
    background-color: white;
}

.contact {
    margin-right: 45px;
    font-size: 20px;

}

.dropdown_lang {
    display: none;
}

nav {
    display: flex;
    flex-direction: row;
    width: 99%;
    height: 90px;
    background-color:rgb(207, 4, 4);
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

h1 {
    padding-left: 20px;
    color: white;
    font-size: 35px;
}


nav ul li {
    display: inline-block;
    padding: 15px;
    color: white;

}

nav ul li {
    padding-left: 35px;

}

li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    justify-self: center;


}

.searchbox {
    width: 300px;
    height: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 10px;
    margin-right: 45px;

}

.searchbox i {
    font-size: 20px;
    color:rgb(132, 136, 141);
    
}

.searchbox > input {
    font-size: 18px;
    flex: 1;
    border: none;
    outline: none;
    height: 20px;
    

}